In [0]:
import numpy as np
import pandas as pd
from google.colab import files

# First CSV

In [100]:
df = pd.read_csv('TOI_2019.08.28_10.50.30.csv')

print(df.shape)
df.head()

(995, 2)

         tid tfopwg_disp
0   50365310         NaN
1   88863718         NaN
2  124709665         NaN
3  106997505         NaN
4  238597883         NaN

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 2 columns):
tid            995 non-null int64
tfopwg_disp    328 non-null object
dtypes: int64(1), object(1)
memory usage: 15.6+ KB

In [102]:
df.isnull().sum()

tid              0
tfopwg_disp    667
dtype: int64

In [103]:
df = df.dropna()
df.shape

(328, 2)

In [104]:
df['tfopwg_disp'].value_counts()

FP    160
CP    158
PC     10
Name: tfopwg_disp, dtype: int64

In [117]:
pc1 = df[df['tfopwg_disp'] == 'PC']
pc1.shape

(10, 2)

In [0]:

pc1.to_csv('pc1.csv') 
files.download('pc1.csv')

In [105]:
cpdf = df[df['tfopwg_disp'] == 'CP']
print(cpdf.shape)
cpdf.head()

(158, 2)

          tid tfopwg_disp
10  231663901          CP
21  149603524          CP
32  336732616          CP
43  231670397          CP
54  144065872          CP

In [106]:
fpdf = df[df['tfopwg_disp'] == 'FP']
print(fpdf.shape)
fpdf.head()

(160, 2)

          tid tfopwg_disp
49   54044474          FP
72  207081058          FP
75   29831208          FP
84  235037761          FP
90  176957796          FP

In [107]:
df1 = pd.concat([fpdf, cpdf])
print(df1.shape)
df1['tfopwg_disp'].value_counts()

(318, 2)

FP    160
CP    158
Name: tfopwg_disp, dtype: int64

In [0]:
df1['tfopwg_disp'] = df1['tfopwg_disp'].apply(lambda x: 0 if x == "FP" else 1)

In [130]:
print(df1['tfopwg_disp'].value_counts())
df1.head()

0    160
1    158
Name: tfopwg_disp, dtype: int64

          tid  tfopwg_disp
49   54044474            0
72  207081058            0
75   29831208            0
84  235037761            0
90  176957796            0

In [0]:
# printing out first csv for confrimed planets
df1.to_csv('confirmedplan1.csv') 
files.download('confirmedplan1.csv')

# 2nd csv

In [120]:
df2 = pd.read_csv('exofop_tess_tois.csv')
print(df2.shape)
df2.head()

(1075, 3)

      TIC ID TESS Disposition TFOPWG Disposition
0  231663901               PC                 CP
1  149603524               PC                 CP
2  336732616               PC                 CP
3  231670397               PC                 CP
4  144065872               PC                 CP

In [0]:
df2 = df2.rename(columns={"TIC ID":"tid", "TFOPWG Disposition":"tfopwg_disp"})

In [126]:
pcdf = df2[['tid', 'tfopwg_disp']]
pcdf['tfopwg_disp'] = pcdf['tfopwg_disp'].fillna('PC') 
print(pcdf.shape)
pcdf['tfopwg_disp'].value_counts()

(1075, 2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

PC    741
FP    168
CP    166
Name: tfopwg_disp, dtype: int64

In [127]:
pcdf = pcdf[pcdf['tfopwg_disp'] == 'PC']
pcdf.shape

(741, 2)

In [0]:
pcdf.to_csv('pc2.csv') 
files.download('pc2.csv')

In [131]:
df2 = df2[['tid', 'tfopwg_disp']]
df2 = df2.dropna()
print(df2.shape)
df2['tfopwg_disp'].value_counts()

(344, 2)

FP    168
CP    166
PC     10
Name: tfopwg_disp, dtype: int64

In [132]:
cpdf2 = df2[df2['tfopwg_disp'] == 'CP']
print(cpdf2.shape)
cpdf2.head()

(166, 2)

         tid tfopwg_disp
0  231663901          CP
1  149603524          CP
2  336732616          CP
3  231670397          CP
4  144065872          CP

In [133]:
fpdf2 = df2[df2['tfopwg_disp'] == 'FP']
print(fpdf2.shape)
fpdf2.head()

(168, 2)

          tid tfopwg_disp
21  207081058          FP
24   29831208          FP
33  235037761          FP
39  176957796          FP
40  277683130          FP

In [135]:
df2 = pd.concat([fpdf2, cpdf2])
df2['tfopwg_disp'] = df2['tfopwg_disp'].apply(lambda x: 0 if x == "FP" else 1)
print(df2.shape)
df2.head()

(334, 2)

          tid  tfopwg_disp
21  207081058            0
24   29831208            0
33  235037761            0
39  176957796            0
40  277683130            0

In [136]:
df2['tfopwg_disp'].value_counts()

0    168
1    166
Name: tfopwg_disp, dtype: int64

In [48]:
ffpdf = fpdf.merge(fpdf2)
print(ffpdf.shape)
ffpdf.head()

(160, 2)

         tid tfopwg_disp
0   54044474          FP
1  207081058          FP
2   29831208          FP
3  235037761          FP
4  176957796          FP

# Final DF for confirmed planets

In [137]:
fdf = pd.concat([df2, df1]).drop_duplicates().reset_index(drop=True)
print(fdf.shape)
fdf.head()

(328, 2)

         tid  tfopwg_disp
0  207081058            0
1   29831208            0
2  235037761            0
3  176957796            0
4  277683130            0

In [138]:
fdf['tfopwg_disp'].value_counts()

0    168
1    160
Name: tfopwg_disp, dtype: int64

In [0]:
fdf.to_csv('confirmedplanets.csv') 
files.download('confirmedplanets.csv')