In [0]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('TOI_2019.08.28_10.50.30.csv')

print(df.shape)
df.head()

(995, 2)

         tid tfopwg_disp
0   50365310         NaN
1   88863718         NaN
2  124709665         NaN
3  106997505         NaN
4  238597883         NaN

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 2 columns):
tid            995 non-null int64
tfopwg_disp    328 non-null object
dtypes: int64(1), object(1)
memory usage: 15.6+ KB

In [15]:
df.isnull().sum()

tid              0
tfopwg_disp    667
dtype: int64

In [16]:
df = df.dropna()
df.shape

(328, 2)

In [17]:
df['tfopwg_disp'].value_counts()

FP    160
CP    158
PC     10
Name: tfopwg_disp, dtype: int64

In [23]:
cpdf = df[df['tfopwg_disp'] == 'CP']
print(cpdf.shape)
cpdf.head()

(158, 2)

          tid tfopwg_disp
10  231663901          CP
21  149603524          CP
32  336732616          CP
43  231670397          CP
54  144065872          CP

In [24]:
fpdf = df[df['tfopwg_disp'] == 'FP']
print(fpdf.shape)
fpdf.head()

(160, 2)

          tid tfopwg_disp
49   54044474          FP
72  207081058          FP
75   29831208          FP
84  235037761          FP
90  176957796          FP

# 2nd csv

In [39]:
df2 = pd.read_csv('exofop_tess_tois.csv')
print(df2.shape)
df2.head()

(1075, 2)

      TIC ID TFOPWG Disposition
0   50365310                NaN
1   88863718                NaN
2  124709665                NaN
3  106997505                NaN
4  238597883                NaN

In [0]:
df2 = df2.rename(columns={"TIC ID":"tid", "TFOPWG Disposition":"tfopwg_disp"})

In [43]:
df2 = df2.dropna()
print(df2.shape)
df2['tfopwg_disp'].value_counts()

(344, 2)

FP    168
CP    166
PC     10
Name: tfopwg_disp, dtype: int64

In [44]:
cpdf2 = df2[df2['tfopwg_disp'] == 'CP']
print(cpdf2.shape)
cpdf2.head()

(166, 2)

          tid tfopwg_disp
10  231663901          CP
21  149603524          CP
32  336732616          CP
43  231670397          CP
53   16288184          CP

In [45]:
fpdf2 = df2[df2['tfopwg_disp'] == 'FP']
print(fpdf2.shape)
fpdf2.head()

(168, 2)

           tid tfopwg_disp
49    54044474          FP
67   253990973          FP
78    31858844          FP
94   381979901          FP
152  207081058          FP

In [49]:
fcpdf = cpdf.merge(cpdf2)
print(fcpdf.shape)
fcpdf.head()

(172, 2)

         tid tfopwg_disp
0  231663901          CP
1  149603524          CP
2  336732616          CP
3  231670397          CP
4  144065872          CP

In [48]:
ffpdf = fpdf.merge(fpdf2)
print(ffpdf.shape)
ffpdf.head()

(160, 2)

         tid tfopwg_disp
0   54044474          FP
1  207081058          FP
2   29831208          FP
3  235037761          FP
4  176957796          FP

# Final DF for confirmed planets

In [51]:
fdf = pd.concat([ffpdf, fcpdf])
print(fdf.shape)
fdf.head()

(332, 2)

         tid tfopwg_disp
0   54044474          FP
1  207081058          FP
2   29831208          FP
3  235037761          FP
4  176957796          FP

In [53]:
fdf['tfopwg_disp'].value_counts()

CP    172
FP    160
Name: tfopwg_disp, dtype: int64