In [0]:
import pandas as pd

In [0]:
flux = pd.read_csv('_Flux dataframe.csv')

In [0]:
from lightkurve.lightcurve import TessLightCurve

In [0]:
from lightkurve import TessTargetPixelFile

In [0]:
from lightkurve import search_targetpixelfile

In [0]:
tess_id = pd.read_csv('_Tess 100.csv')

In [0]:
import numpy as np
import requests
from IPython.display import display, HTML
import sys
import os
import time
import re
import json
from urllib.parse import quote as urlencode
from urllib.request import urlretrieve
import http.client as httplib
from astropy.table import Table


# def mastQuery(req):

#    """Basic mast query maker. Similar to
#    example code from astroquery documentation """

#    server='mast.stsci.edu'

#    version = ".".join(map(str, sys.version_info[:3]))

# HTTP header variables for request
#    headers = {"Content-type": "application/x-www-form-urlencoded",
#               "Accept": "text/plain",
#               "User-agent":"python-requests/"+version}

# Make request string
#    reqStr = json.dumps(req)
#    reqStr = urlencode(reqStr)

# Open https connection
#    conn = httpcli.HTTPSConnection(server)

# Run the query
#    conn.request("POST", "api/v0/invoke", "request="+reqStr, headers)

# Get and save the response
#    resp = conn.getresponse()
# Save headers
#    head = resp.getheaders()
# Save content of response
#    content = resp.read().decode('utf-8')

# Close connection
#    conn.close()

#    return head,content


def mastQuery(request):
    """Perform a MAST query.
    
        Parameters
        ----------
        request (dictionary): The MAST request json object
        
        Returns head,content where head is the response HTTP headers, and content is the returned data"""

    server = "mast.stsci.edu"

    # Grab Python Version
    version = ".".join(map(str, sys.version_info[:3]))

    # Create Http Header Variables
    headers = {
        "Content-type": "application/x-www-form-urlencoded",
        "Accept": "text/plain",
        "User-agent": "python-requests/" + version,
    }

    # Encoding the request as a json string
    requestString = json.dumps(request)
    requestString = urlencode(requestString)

    # opening the https connection
    conn = httplib.HTTPSConnection(server)

    # Making the query
    conn.request("POST", "/api/v0/invoke", "request=" + requestString, headers)

    # Getting the response
    resp = conn.getresponse()
    head = resp.getheaders()
    content = resp.read().decode("utf-8")

    # Close the https connection
    conn.close()
    return head, content

In [0]:

import numpy as np
import requests
import pandas as pd
from IPython.display import display, HTML
import sys
import os
import time
import re
import json
from urllib.parse import quote as urlencode
from urllib.request import urlretrieve
import http.client as httpcli
from astropy.table import Table

planeturl = "https://exo.mast.stsci.edu/api/v0.1/exoplanets/"
dvurl = "https://exo.mast.stsci.edu/api/v0.1/dvdata/tess/"
header_secinfo = {}
header = {}


def aqTicReq(tessid, column):

    """Astroquery request from TESS candidates database"""

    requestTic = {
        "service": "Mast.Catalogs.Filtered.Tic",
        "format": "json",
        "params": {
            "columns": "c.{}".format(str(column)),  # Column name to get
            "filters": [
                {
                    "paramName": "ID",  # Filter by ID (tessid/ticid)
                    "values": [str(tessid)],
                }
            ],
        },
    }

    headers, outString = mastQuery(requestTic)
    outData = json.loads(outString)  # This isn't entirely necessary here
    return outData['data'][0][str(column)]


# Planet name assembler


def nameResolver(ticid):

    """Returns all name info of star. Can
    match to names from most major stellar
    catalogues"""

    request = {
        "service": "Mast.Name.Lookup",
        "params": {"input": str(ticid), "format": "json"},
    }

    headers, outString = mastQuery(request)

    outData = json.loads(outString)

    return outData


def pnameGenerator(tceid):

    """Planet name generator using the standard NASA
    exoplanet archive format. Used to generate likely
    names for as yet unnamed planets"""

    tessid, pl_number = tceid.split("-")
    tessid = str(int(tessid))
    pl_dict = {
        "01": "a",
        "02": "b",
        "03": "c",
        "04": "d",
        "05": "e",
        "06": "f",
        "07": "g",
        "08": "h",
        "09": "i",
        "10": "j",
        "11": "k",
        "12": "l",
    }
    star_name = nameResolver(tessid)["resolvedCoordinate"][0]["canonicalName"]
    return str(star_name + "-" + pl_dict[pl_number])


# exoMAST info getters: sector getter


def getSector(tessid, get1=True, tce="TCE_1"):

    """Get TESS sector information for threshold crossing event.
    Used to get light curves from exoMAST archive"""

    name = "TIC " + str(tessid)
    url = planeturl + "/identifiers/"
    params = {"name": name}
    r = requests.get(url=url, params=params, headers=header_secinfo)
    planet_names = r.json()
    # tce = planet_names['tessTCE']
    url = dvurl + str(tessid) + "/tces/"
    myparams = {"tce": tce}

    r = requests.get(url=url, params=myparams, headers=header_secinfo)
    sectorInfo = r.json()

    sectors = [x[:11] for x in sectorInfo["TCE"] if tce in x][0][:5]
    sector_split = [x.split(":") for x in sectorInfo["TCE"] if tce in x][0][:5]
    if get1 == True:
        return sectors
    else:
        return sector_split


def tceConverter(tce):

    """Convert <-xx> style TCE designation to <TCE_x> format"""

    tce_dict = {
        "01": "TCE_1",
        "02": "TCE_2",
        "03": "TCE_3",
        "04": "TCE_4",
        "05": "TCE_5",
        "06": "TCE_6",
        "07": "TCE_7",
        "08": "TCE_8",
        "09": "TCE_9",
        "10": "TCE_10",
        "11": "TCE_11",
        "12": "TCE_12",
    }
    return tce_dict[tce]


def getPlanetProp(tceid, prop_name):

    """Get single planet property from exoMAST.
    Takes tceid in <ticid>-<tce> format like: 
    00101365484-01. 11 digit ticid, <-xx> tce
    number"""

    tceid = str(tceid)
    tessid, pl_number = tceid.split("-")
    tce = tceConverter(pl_number)

    tessid = str(int(tessid))

    star_name = "TIC " + str(tessid)

    sectors = getSector(tessid, False, tce)
    full_pname = star_name + " (" + sectors[0].upper() + ") " + tce

    url = planeturl + str(full_pname) + "/properties/"
    r = requests.get(url=url, headers=header)
    planet_prop = r.json()

    if planet_prop[0][prop_name] == None:
        return_prop = 0
    else:
        return_prop = planet_prop[0][prop_name]
    
    return return_prop

In [0]:
#from .getter import aqTicReq, getSector, getPlanetProp, pnameGenerator
import pandas as pd


def getStarCsv(starlist, csv_out_name, verbose=1):
    """Gets star properties for list of stars. Outputs
    to specified csv file. Do not include .csv extension"""

    Stars = pd.DataFrame(
        columns=[
            "star_tessid",
            "twomass",
            "gaiaid",
            "sector",
            "magnitude",
            "luminosity",
            "star_mass",
            "star_radius",
            "constellation",
            #"disposition",
            "rightascension",
            "declination",
            #"metallicity"
        ]
    )

    i = 0
    for tessid in starlist:
        if tessid not in Stars["star_tessid"].values:
            if verbose == 1:
                print(".", end="")
            elif verbose >= 2:
                print(i, tessid)
            else:
                None
            star = {
                "star_tessid": int(tessid),
                "twomass": aqTicReq(tessid, "TWOMASS"),
                "gaiaid": aqTicReq(tessid, "GAIA"),
                "sector": getSector(tessid, True),
                "magnitude": aqTicReq(tessid, "Tmag"),
                "luminosity": aqTicReq(tessid, "lumclass"),
                "star_mass": aqTicReq(tessid, "mass"),
                "star_radius": aqTicReq(tessid, "rad"),
                "constellation": getPlanetProp(
                    str(f"{tessid:011}") + "-01", "constellation"
                ),
#                 "disposition": aqTicReq(tessid, "disposition"),
                "rightascension": str(round(float(aqTicReq(tessid, "ra")), 8)),
                "declination": str(round(float(aqTicReq(tessid, "dec")), 8)),
            }
            Stars = Stars.append(star, ignore_index=True)
            i += 1
            if verbose >= 3:
                print(star)
            Stars.to_csv(r"{}.csv".format(csv_out_name))

In [0]:
id = list(tess_id['ticid'])

In [0]:
getStarCsv(id,'star3')

..........................................................

In [0]:
star = pd.read_csv('star.csv')
star

    Unnamed: 0  star_tessid  ... declination  metallicity
0            0    139250626  ...  -43.014701          NaN
1            1    139281803  ...  -42.365066          NaN
2            2    139285666  ...  -45.136287          NaN
3            3    139285669  ...  -45.133454          NaN
4            4    139300891  ...  -44.751917          NaN
5            5    139370701  ...  -69.612211          NaN
6            6    140609384  ...  -74.280572          NaN
7            7    140659980  ...  -72.462619          NaN
8            8    140859822  ...  -74.030600          NaN
9            9    140940493  ...  -72.708989          NaN
10          10    141028198  ...  -75.103082          NaN
11          11    141096071  ...  -74.897378          NaN
12          12    141124144  ...  -73.327332          NaN
13          13    141152931  ...  -75.010124          NaN
14          14    141212720  ...  -72.522324          NaN
15          15    141268467  ...  -76.248708          NaN
16          16    141334293  ...  -75.891471          NaN
17          17    141335886  ...  -73.741278          NaN
18          18    141413932  ...  -77.447066          NaN
19          19    141435705  ...  -76.033076          NaN
20          20    141484981  ...  -73.616052          NaN
21          21    141526439  ...  -76.294971          NaN
22          22    141527579  ...  -76.620290          NaN
23          23    141606958  ...  -72.676365          NaN
24          24    141607553  ...  -73.288457          NaN
25          25    141608198  ...  -73.984689          NaN
26          26    141622065  ...  -73.342639          NaN
27          27    141624979  ...  -73.260357          NaN
28          28    141708335  ...  -77.298826          NaN
29          29    141712167  ...  -72.764519          NaN
30          30    141757920  ...  -73.022549          NaN
31          31    141769434  ...  -75.108152          NaN
32          32    141770047  ...  -76.353119          NaN
33          33    141770299  ...  -76.926909          NaN
34          34    141772259  ...  -74.848830          NaN
35          35    141809359  ...  -73.786615          NaN
36          36    141865875  ...  -77.052374          NaN
37          37    141975926  ...  -75.075775          NaN
38          38    141977935  ...  -76.426675          NaN
39          39    142052876  ...  -76.719200          NaN
40          40    142108949  ...  -77.538556          NaN
41          41    149102762  ...  -65.775935          NaN
42          42    149216532  ...  -63.607020          NaN
43          43    149248196  ...  -65.448621          NaN
44          44    149273299  ...  -63.994096          NaN
45          45    149308175  ...  -63.902374          NaN
46          46    149346418  ...  -62.489812          NaN
47          47    149347480  ...  -60.104184          NaN
48          48    149347629  ...  -60.182846          NaN
49          49    149391142  ...  -61.014614          NaN
50          50    149444341  ...  -63.479961          NaN
51          51    149473467  ...  -61.857841          NaN
52          52    149603524  ...  -63.988441          NaN
53          53    149630117  ...  -60.805539          NaN
54          54    149630160  ...  -60.676293          NaN
55          55    149988523  ...  -60.096830          NaN
56          56    149989242  ...  -61.713261          NaN
57          57    150064391  ...  -61.748581          NaN

[58 rows x 14 columns]

In [0]:
del star['disposition']
del star['metallicity']

In [0]:
star

    Unnamed: 0  star_tessid  ... rightascension  declination
0            0    139250626  ...     347.145616   -43.014701
1            1    139281803  ...     347.595016   -42.365066
2            2    139285666  ...     347.966890   -45.136287
3            3    139285669  ...     347.973493   -45.133454
4            4    139300891  ...     348.210875   -44.751917
5            5    139370701  ...      67.268452   -69.612211
6            6    140609384  ...      71.367414   -74.280572
7            7    140659980  ...      72.473353   -72.462619
8            8    140859822  ...      76.114400   -74.030600
9            9    140940493  ...      77.018036   -72.708989
10          10    141028198  ...      78.963021   -75.103082
11          11    141096071  ...      79.649116   -74.897378
12          12    141124144  ...      80.087923   -73.327332
13          13    141152931  ...      80.586783   -75.010124
14          14    141212720  ...      81.779012   -72.522324
15          15    141268467  ...      82.513278   -76.248708
16          16    141334293  ...      83.838830   -75.891471
17          17    141335886  ...      83.686595   -73.741278
18          18    141413932  ...      84.473688   -77.447066
19          19    141435705  ...      84.885304   -76.033076
20          20    141484981  ...      87.292658   -73.616052
21          21    141526439  ...      87.114951   -76.294971
22          22    141527579  ...      87.736134   -76.620290
23          23    141606958  ...      88.593764   -72.676365
24          24    141607553  ...      88.715957   -73.288457
25          25    141608198  ...      88.960584   -73.984689
26          26    141622065  ...      89.228742   -73.342639
27          27    141624979  ...      89.687681   -73.260357
28          28    141708335  ...      90.457528   -77.298826
29          29    141712167  ...      90.881578   -72.764519
30          30    141757920  ...      91.636009   -73.022549
31          31    141769434  ...      91.893706   -75.108152
32          32    141770047  ...      91.963091   -76.353119
33          33    141770299  ...      91.858412   -76.926909
34          34    141772259  ...      92.174981   -74.848830
35          35    141809359  ...      92.642747   -73.786615
36          36    141865875  ...      93.802310   -77.052374
37          37    141975926  ...      95.917670   -75.075775
38          38    141977935  ...      96.387139   -76.426675
39          39    142052876  ...      97.694200   -76.719200
40          40    142108949  ...      99.423881   -77.538556
41          41    149102762  ...      80.436143   -65.775935
42          42    149216532  ...      82.052213   -63.607020
43          43    149248196  ...      82.186873   -65.448621
44          44    149273299  ...      83.028019   -63.994096
45          45    149308175  ...      83.492587   -63.902374
46          46    149346418  ...      83.406302   -62.489812
47          47    149347480  ...      83.608933   -60.104184
48          48    149347629  ...      83.648302   -60.182846
49          49    149391142  ...      83.965796   -61.014614
50          50    149444341  ...      84.774958   -63.479961
51          51    149473467  ...      85.270518   -61.857841
52          52    149603524  ...      87.139974   -63.988441
53          53    149630117  ...      87.444536   -60.805539
54          54    149630160  ...      87.401912   -60.676293
55          55    149988523  ...      90.538897   -60.096830
56          56    149989242  ...      90.622302   -61.713261
57          57    150064391  ...      91.425071   -61.748581

[58 rows x 12 columns]

In [0]:
del star['Unnamed: 0']
star

    star_tessid           twomass  ...  rightascension declination
0     139250626  23083495-4300530  ...      347.145616  -43.014701
1     139281803  23102280-4221542  ...      347.595016  -42.365066
2     139285666  23115205-4508106  ...      347.966890  -45.136287
3     139285669  23115362-4508004  ...      347.973493  -45.133454
4     139300891  23125058-4445067  ...      348.210875  -44.751917
5     139370701  04290442-6936439  ...       67.268452  -69.612211
6     140609384  04452817-7416500  ...       71.367414  -74.280572
7     140659980  04495359-7227454  ...       72.473353  -72.462619
8     140859822  05042740-7401505  ...       76.114400  -74.030600
9     140940493  05080432-7242324  ...       77.018036  -72.708989
10    141028198  05155110-7506111  ...       78.963021  -75.103082
11    141096071  05183578-7453505  ...       79.649116  -74.897378
12    141124144  05202108-7319384  ...       80.087923  -73.327332
13    141152931  05222083-7500364  ...       80.586783  -75.010124
14    141212720  05270696-7231203  ...       81.779012  -72.522324
15    141268467  05300317-7614555  ...       82.513278  -76.248708
16    141334293  05352133-7553292  ...       83.838830  -75.891471
17    141335886  05344480-7344284  ...       83.686595  -73.741278
18    141413932  05375367-7726493  ...       84.473688  -77.447066
19    141435705  05393247-7601591  ...       84.885304  -76.033076
20    141484981  05491024-7336577  ...       87.292658  -73.616052
21    141526439  05482755-7617418  ...       87.114951  -76.294971
22    141527579  05505661-7637132  ...       87.736134  -76.620290
23    141606958  05542251-7240348  ...       88.593764  -72.676365
24    141607553  05545182-7317183  ...       88.715957  -73.288457
25    141608198  05555049-7359046  ...       88.960584  -73.984689
26    141622065  05565489-7320334  ...       89.228742  -73.342639
27    141624979  05584505-7315373  ...       89.687681  -73.260357
28    141708335  06014977-7717556  ...       90.457528  -77.298826
29    141712167  06033157-7245523  ...       90.881578  -72.764519
30    141757920  06063263-7301211  ...       91.636009  -73.022549
31    141769434  06073447-7506292  ...       91.893706  -75.108152
32    141770047  06075115-7621112  ...       91.963091  -76.353119
33    141770299  06072604-7655371  ...       91.858412  -76.926909
34    141772259  06084200-7450557  ...       92.174981  -74.848830
35    141809359  06103426-7347117  ...       92.642747  -73.786615
36    141865875  06151258-7703083  ...       93.802310  -77.052374
37    141975926  06234024-7504327  ...       95.917670  -75.075775
38    141977935  06253289-7625358  ...       96.387139  -76.426675
39    142052876  06304661-7643094  ...       97.694200  -76.719200
40    142108949  06374179-7732185  ...       99.423881  -77.538556
41    149102762  05214466-6546332  ...       80.436143  -65.775935
42    149216532  05281252-6336256  ...       82.052213  -63.607020
43    149248196  05284484-6526551  ...       82.186873  -65.448621
44    149273299  05320673-6359387  ...       83.028019  -63.994096
45    149308175  05335819-6354085  ...       83.492587  -63.902374
46    149346418  05333753-6229232  ...       83.406302  -62.489812
47    149347480  05342614-6006151  ...       83.608933  -60.104184
48    149347629  05343558-6010581  ...       83.648302  -60.182846
49    149391142  05355179-6100526  ...       83.965796  -61.014614
50    149444341  05390597-6328478  ...       84.774958  -63.479961
51    149473467  05410491-6151282  ...       85.270518  -61.857841
52    149603524  05483359-6359183  ...       87.139974  -63.988441
53    149630117  05494667-6048200  ...       87.444536  -60.805539
54    149630160  05493646-6040347  ...       87.401912  -60.676293
55    149988523  06020934-6005485  ...       90.538897  -60.096830
56    149989242  06022933-6142475  ...       90.622302  -61.713261
57    150064391  06054200-6144548  ...       91.425071  -61.748581

[58 rows x 11 columns]

In [0]:
star3 = pd.read_csv('star3.csv')

In [0]:
star3

    Unnamed: 0  star_tessid  ... rightascension  declination
0            0    139250626  ...     347.145616   -43.014701
1            1    139281803  ...     347.595016   -42.365066
2            2    139285666  ...     347.966890   -45.136287
3            3    139285669  ...     347.973493   -45.133454
4            4    139300891  ...     348.210875   -44.751917
5            5    139370701  ...      67.268452   -69.612211
6            6    140609384  ...      71.367414   -74.280572
7            7    140659980  ...      72.473353   -72.462619
8            8    140859822  ...      76.114400   -74.030600
9            9    140940493  ...      77.018036   -72.708989
10          10    141028198  ...      78.963021   -75.103082
11          11    141096071  ...      79.649116   -74.897378
12          12    141124144  ...      80.087923   -73.327332
13          13    141152931  ...      80.586783   -75.010124
14          14    141212720  ...      81.779012   -72.522324
15          15    141268467  ...      82.513278   -76.248708
16          16    141334293  ...      83.838830   -75.891471
17          17    141335886  ...      83.686595   -73.741278
18          18    141413932  ...      84.473688   -77.447066
19          19    141435705  ...      84.885304   -76.033076
20          20    141484981  ...      87.292658   -73.616052
21          21    141526439  ...      87.114951   -76.294971
22          22    141527579  ...      87.736134   -76.620290
23          23    141606958  ...      88.593764   -72.676365
24          24    141607553  ...      88.715957   -73.288457
25          25    141608198  ...      88.960584   -73.984689
26          26    141622065  ...      89.228742   -73.342639
27          27    141624979  ...      89.687681   -73.260357
28          28    141708335  ...      90.457528   -77.298826
29          29    141712167  ...      90.881578   -72.764519
30          30    141757920  ...      91.636009   -73.022549
31          31    141769434  ...      91.893706   -75.108152
32          32    141770047  ...      91.963091   -76.353119
33          33    141770299  ...      91.858412   -76.926909
34          34    141772259  ...      92.174981   -74.848830
35          35    141809359  ...      92.642747   -73.786615
36          36    141865875  ...      93.802310   -77.052374
37          37    141975926  ...      95.917670   -75.075775
38          38    141977935  ...      96.387139   -76.426675
39          39    142052876  ...      97.694200   -76.719200
40          40    142108949  ...      99.423881   -77.538556
41          41    149102762  ...      80.436143   -65.775935
42          42    149216532  ...      82.052213   -63.607020
43          43    149248196  ...      82.186873   -65.448621
44          44    149273299  ...      83.028019   -63.994096
45          45    149308175  ...      83.492587   -63.902374
46          46    149346418  ...      83.406302   -62.489812
47          47    149347480  ...      83.608933   -60.104184
48          48    149347629  ...      83.648302   -60.182846
49          49    149391142  ...      83.965796   -61.014614
50          50    149444341  ...      84.774958   -63.479961
51          51    149473467  ...      85.270518   -61.857841
52          52    149603524  ...      87.139974   -63.988441
53          53    149630117  ...      87.444536   -60.805539
54          54    149630160  ...      87.401912   -60.676293
55          55    149988523  ...      90.538897   -60.096830
56          56    149989242  ...      90.622302   -61.713261
57          57    150064391  ...      91.425071   -61.748581

[58 rows x 13 columns]

In [0]:
tess_id

    Unnamed: 0           tceid  ...  equilibriumTempKelvin  InsolationFlux
0            0  00139250626-01  ...                375.303        4.688670
1            1  00139281803-01  ...                597.340       30.089100
2            2  00139285666-01  ...               1927.720     3263.610000
3            3  00139285666-02  ...               1927.850     3264.510000
4            4  00139285669-01  ...               1158.920      426.317000
5            5  00139300891-01  ...               1755.110     2242.520000
6            6  00139300891-02  ...               2210.920     5646.890000
7            7  00139370701-01  ...               2157.840     5123.850000
8            8  00140609384-01  ...                745.650       73.056700
9            9  00140659980-01  ...               1653.080     1764.780000
10          10  00140659980-02  ...               1653.080     1764.820000
11          11  00140859822-01  ...                216.308        0.517384
12          12  00140940493-01  ...               2657.140    11780.800000
13          13  00140940493-02  ...               2656.920    11777.000000
14          14  00141028198-01  ...               1088.110      331.288000
15          15  00141028198-02  ...               1088.200      331.399000
16          16  00141028198-03  ...               1339.460      760.749000
17          17  00141096071-01  ...               1001.810      238.049000
18          18  00141096071-02  ...               1001.790      238.032000
19          19  00141124144-01  ...                453.384        9.985830
20          20  00141152931-01  ...               2963.490    18227.800000
21          21  00141212720-01  ...                869.242      134.922000
22          22  00141212720-02  ...                869.343      134.985000
23          23  00141268467-01  ...               2111.310     4696.020000
24          24  00141268467-02  ...               2111.320     4696.140000
25          25  00141334293-01  ...                319.915        2.475480
26          26  00141334293-02  ...                317.751        2.409160
27          27  00141335886-01  ...                394.826        5.743080
28          28  00141335886-02  ...                337.342        3.060570
29          29  00141335886-03  ...                390.395        5.489550
..         ...             ...  ...                    ...             ...
70          70  00149216532-01  ...               1423.150      969.452000
71          71  00149248196-01  ...                465.735       11.119200
72          72  00149248196-02  ...                576.821       26.162800
73          73  00149248196-03  ...                538.826       19.921200
74          74  00149248196-04  ...                508.586       15.811700
75          75  00149248196-05  ...                519.866       17.261800
76          76  00149248196-06  ...                514.426       16.550600
77          77  00149273299-01  ...                813.320      103.411000
78          78  00149308175-01  ...               3321.600    28767.900000
79          79  00149346418-01  ...                608.132       32.323000
80          80  00149347480-01  ...                757.403       77.772900
81          81  00149347629-01  ...                325.376        2.648880
82          82  00149391142-01  ...                592.615       29.148300
83          83  00149444341-01  ...                436.215        8.557020
84          84  00149473467-01  ...               2585.910    10567.600000
85          85  00149473467-02  ...               2585.900    10567.300000
86          86  00149473467-03  ...               3252.960    26462.900000
87          87  00149603524-01  ...               1315.970      708.770000
88          88  00149630117-01  ...                  0.000        0.000000
89          89  00149630160-01  ...                653.582       43.124300
90          90  00149630160-02  ...                799.347       96.485800
91          91  00149988523-01  ...                387.978        5.354890
92          92  00149988523-02  ...                356.993        3.838480
93          93  00149988523-03  ...                342.722        3.260550
94          94  00149988523-04  ...                412.117        6.817170
95          95  00149988523-05  ...                358.483        3.902950
96          96  00149988523-06  ...                348.967        3.504750
97          97  00149989242-01  ...               3468.690    34212.200000
98          98  00149989242-02  ...               3468.720    34213.400000
99          99  00150064391-01  ...                636.759       38.852800

[100 rows x 30 columns]

In [0]:
merged = tess_id.merge(star, left_on='ticid', right_on='star_tessid')

In [0]:
merged.head()

   Unnamed: 0           tceid  ...  rightascension  declination
0           0  00139250626-01  ...      347.145616   -43.014701
1           1  00139281803-01  ...      347.595016   -42.365066
2           2  00139285666-01  ...      347.966890   -45.136287
3           3  00139285666-02  ...      347.966890   -45.136287
4           4  00139285669-01  ...      347.973493   -45.133454

[5 rows x 41 columns]

In [0]:
del merged['Unnamed: 0']

In [0]:
merged.to_csv('merged.csv')